/* Estilo para las secciones */
section {
    background-color: rgba(50, 50, 50, 0.9);
    /* Fondo oscuro con opacidad */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  }
  
  /* Estilo para los artículos dentro de las secciones */
  article {
    text-align: center;
  }
  
  /* Estilo para los títulos de las secciones */
  article h2 {
    font-size: 26px;
    font-family: Arial black;
    text-shadow: 2px 2px 4px rgb(80, 80, 80);
    margin-bottom: 10px;
  }
  
  /* Estilo para los párrafos dentro de los artículos */
  article p {
    font-size: 18px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.9);
  }
  
  /* Hover effect para las secciones */
  section:hover {
    background-color: rgba(70, 70, 70, 0.9);
    /* Cambia a un color un poco más claro al pasar el mouse */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  }
  
  /* Espaciado entre las secciones */
  section:not(:last-child) {
    margin-bottom: 40px;
  }