@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    background-color: rgb(70, 70, 70);
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    
}

#grid-container {
    display: grid;
    background-color: rgb(70, 70, 70);
    padding: 10px 40px 60px 40px;
    grid-template-areas:
        'header header header header'
        'nav nav nav nav'
        'breadcrumbs breadcrumbs breadcrumbs breadcrumbs' 
        'main main main aside'
        'footer footer footer footer';
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 85% 15%;
}


header {
    grid-area: header;
    /*border: 1px solid white;*/
    text-align: center;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(230, 230, 230, 1) 0%, rgba(144, 144, 144, 1) 17%, rgba(118, 118, 118, 1) 61%, rgba(10, 10, 10, 1) 97%);
    padding: 10px;

    border-radius: 5px;
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.5);

}

header h1 {
    font-family: "Pixelify Sans", serif;
    padding-left: 50px;
    font-size: 50px;
    
}

.logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.logo:hover {
    animation: rotar 1s;

}

@keyframes rotar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }

}

.header-text {
    text-align: left;
    text-shadow: 2px 2px 5px black;
}


nav {
    grid-area: nav;
    /*border: 1px solid white;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-block: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    transition: transform 0.3s ease;
    /* Transición suave al hacer hover */
}

nav ul li:hover {
    transform: scale(1.2);
    /* Aumentar el tamaño al pasar el ratón */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px 4px black;
}

.breadcrumbs {
    grid-area: breadcrumbs;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;
    margin: 10px 0;
    padding: 0;
    align-items: center; 
    padding-left: 10px;
}


.breadcrumbs li {
    display: inline;
}

.breadcrumbs li a {
    text-decoration: none;
    color: white;
}

.breadcrumbs li::after {
    content: ">";
    margin: 0 0.5rem;
    color: #ccc;
}

.breadcrumbs li:last-child::after {
    content: "";
}

.breadcrumbs li:last-child {
    color: #ccc;
}



main {
    grid-area: main;
    padding: 20px;
    background-color:rgb(120, 120, 120);
    border-radius: 20px;
    margin-right: 10px;
    box-shadow: inset 0 0 10px black;
}

aside {
    grid-area: aside;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 0px rgba(70, 70, 70, 0.8), 6px 6px 0px white ;
    background-color: rgb(50, 50, 50);
    position:sticky;
    top:0;
    height: 440px;

}


aside ul li {
    margin-bottom: 5px;
    list-style: none;    
    transition: transform 0.3s ease;
    
}

aside ul li:hover {
    transform: scale(1.2);
    
}

aside ul li a:hover {
    transform: scale(1.2);
    color: rgb(244, 245, 240);
    
}

aside ul li a {
    text-decoration: none;
    color:rgb(220, 220, 220);

}

footer {
    grid-area: footer;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.5);

    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(10, 10, 10, 1) 0%, rgba(118, 118, 118, 1) 17%, rgba(144, 144, 144, 1) 61%, rgba(230, 230, 230, 1) 97%);
}

footer a {
    color: white;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer ul li {
    display: inline;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer ul li a img {
    border-radius: 100%;
    height: 40px;
    width: auto;
}