/* Estilos para la página */
main {
    background: linear-gradient(to bottom, red, white);
    height: 900px;
    width: 1000px;
    padding: 20px;
    margin: auto;

}
/* Estilos de la cabecera de la pagina*/
header {
    display: flex;
    background: linear-gradient(to bottom, #6666d4, lightblue);
    height: 6%;
    border-bottom: 5px solid black;
    padding: 10px;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 8px 5px 5px gray;

}
/* Estilo para el titulo de la cabecera de la pagina */
h1 {
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}
/* Estilos de la barra navegadora de la pagina */
nav {
    background: linear-gradient(to right,orange, yellow);
    height: 14%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 8px 5px 5px gray;


}
/* Estilos para las cajas de la barra navegadora*/
nav div {
    border-radius: 100%;

}
/* Estilos para el texto de la barra navegadora*/
nav p {
    font-size: 20px;
    margin-top: 3px;
    font-family: 'Courier New', Courier, monospace;

}
/*Estilos de la sección principal de la pagina*/
section {
    background-color: white;
    height: 70%;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    box-shadow: 8px 5px 5px gray;

}
/* Estilos para los articulos de la sección */
article {
    background-color: white;
    padding: 5px;
    width: 240px;
    margin-top: 20px;
    border-style: solid;
    border-width: 70px 20px 50px 20px;
    border-image: url(../imgs/movil.png);
    border-image-slice: 70 20 50 20;
    
}
/* Estilos para el texto de los articulos */
article p {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 25px;
    
}
/* Estilos para los titulos de los articulos */
h3 {
    text-align: center;
    padding-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1px;
    text-shadow: 2px 2px 4px;
}
/* Estilos para el pie de pagina */
footer {
    display: flex;
    background: linear-gradient(to top, #6666d4, lightblue);
    height: 6%;
    text-align: center;
    color: aliceblue;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 8px 5px 5px gray;

}